html,
body {
  background: black;
  color: green;
  font-family: "Courier New", Courier, monospace;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: green;
}

a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 18px;
  font-size: 14px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.head {
  text-align: center;
}

.listen {
  display: flex;
  flex-direction: row;
}

.albumcover {
  margin: 0 12px;
  cursor: pointer;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.link {
  margin: 0 12px;
}

.nohover:hover {
  text-decoration: none;
}
